@font-face {
  font-family: "Lovelo";
  src: url("../fonts/Lovelo Black.otf");
 }

.cuadrado{
	width: 50%;
	height: 330px;
	display: inline-block;
}


/*Arriba amarillo--*/
.izquierdo{
	background-color: #ffe70b ;
	position: relative;
}
.izquierdo h1{
	font-family: 'Lovelo';
	font-size: 3em;
	position: absolute;
	top: 2%;
	left: 5%;
}


/*Arriba rojo--*/
.derecho{
	float: right;
	background-color: #ea1f1f;
	margin-left: ;
	width: 50%;
	position: relative;

}
.derecho h1{
	font-family: 'Lovelo';
	font-size: 3em;
	position: absolute;
	top: 2%;
	right: 5%;
	color: white;
	text-align: right;
}

/*Abajo-izquierdo amarillo---------*/
.about-link{
	color: black;
}
.abajo-izquierdo{
	background-color: #f1c40f;
	margin-top: -5px;
	height: 345px;
	position: relative;
	overflow: hidden;
	transition: background-color .75s ease-out; 
}
.abajo-izquierdo h1{
	font-family: 'Lovelo';
	font-size: 3em;
	position: absolute;
	bottom: 35%;
	left: 10%;
	text-align: center;
}
.abajo-izquierdo img{
	position: absolute;
	max-width: 50%;
	right: 5%;
	transition: transform .5s ease-out;

}

/*Abajo-derecho rojo---------*/
.abajo-derecho{
	float: right;
	background-color: #c0392b;
	margin-left: ;
	width: 50%;
	margin-top: -5px;
	height: 345px;
	position: relative;
	overflow: hidden;
	transition: background-color .75s ease-out; 

}
.abajo-derecho h1{
	font-family: 'Lovelo';
	font-size: 3em;
	position: absolute;
	bottom: 35%;
	right: 10%;
	text-align: center;
	color: white;
}
.abajo-derecho img{
	position: absolute;
	max-width: 80%;
	left: -40%;
	bottom: 0;
	transition: transform .5s ease-out;

}


/*--------ABOUT ME--------
-------------------------*/

/*---hedader---*/
header{
	height: 200px;
	width: 100%;
	background-color: #22313F;
	margin-top: 0;
	position: relative;
	overflow: hidden;
}
header h1{
	font-family: 'Lovelo';
	font-size: 3em;
	position: absolute;
	bottom: 20%;
	left: 25%;
	text-align: center;
	color: white;

}
header img{
	position: absolute;
	max-width: 10%;
	right: 30%;
}
/*----contenido---*/
/*----video------*/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*----textos--*/
.contenido-quien,
.contenedor-treehouse{
	width: 50%;
	margin: 2em auto 1em auto;
}
.contenido-quien{
	padding-bottom: 2em;
}
.contenido-quien h2,
.contenedor-treehouse h2{
	font-family: 'Lovelo';
	font-size: 3em;
	text-align: center;
	color: black;
}
.contenido-quien p,
.contenedor-treehouse p{
	font-family: arial;
	font-size: 1.2em;
	text-align: center;
	color: black;
	font-family: 'Lato';
}
.contenedor-treehouse a{
	color: #26A65B;
	text-decoration: none;
}
#treehouse{
	max-width: 35%;
	display: block;
	margin: 0 auto;
	}
.gris{
	background-color: #ECF0F1;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 1em;
}
/**contacto*/
.contenido-quien a{
	text-align: center;
	text-decoration: none;
	font-family: 'Lovelo';
	color: black;
	border-bottom: 5px solid black;
}
.contactame{
	text-align: center;
	text-decoration: none;
	font-family: 'Lovelo';
	color: black;
	padding-top: 2em;
	padding-bottom: 1em;

}
/****Footer****/

footer{
	height: 120px;
	width: 100%;
	background-color: #121b25;
	border-bottom: yellow solid 3px;
	padding-top: 2em;

}
footer ul{
	display: flex;
	justify-content: center;
}
footer ul h2{
	font-family: 'Lovelo';
	font-size: 1.2em;
	color: white;
	display: inline-block;
	text-align: center;
	align-items: center;
}
footer ul h2:nth-child(odd){
	margin-left: 1em;
	margin-right: 1em;
}

/*-----Media Queries*/
@media (max-width: 480px){
	.cuadrado{
	width: 100%;
	height: 330px;
	margin-top: -5px;
	}
	.abajo-derecho img{
		max-width: 100%;
	}
	.contenido-quien,
	.contenedor-treehouse{
	width: 100%;
	margin-top: 0;
	}
	.contenido-quien p{
	width: 95%;
	}
	#treehouse{
		max-width: 40%;
	}
	header img{
	position: absolute;
	max-width: 40%;
	right: -25%;
	}
}